<footer class="mg-footer">
  <div class="mg-footer-widget">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="widget">
            <h2 class="mg-widget-title">Contact US</h2>
            <address>
              <strong>Entrada Escalante Lodge</strong><br>
              480 West Main<br>
              PO Box 427<br>
              Escalante, UT 84726
            </address>
            <p>
              <a href="tel:435-826-4000">435-826-4000</a>
            </p>
            <p>
              <a href="mailto:info@entradaescalante.com">info@entradaescalante.com</a>
            </p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!-- <div class="widget">
            <h2 class="mg-widget-title">Instagram</h2>
            <ul class="mg-instagram">
              <li><a href="#"><img src="images/ins-01.png" alt=""></a></li>
              <li><a href="#"><img src="images/ins-02.png" alt=""></a></li>
              <li><a href="#"><img src="images/ins-03.png" alt=""></a></li>
              <li><a href="#"><img src="images/ins-04.png" alt=""></a></li>
              <li><a href="#"><img src="images/ins-05.png" alt=""></a></li>
              <li><a href="#"><img src="images/ins-06.png" alt=""></a></li>
              <li><a href="#"><img src="images/ins-07.png" alt=""></a></li>
              <li><a href="#"><img src="images/ins-08.png" alt=""></a></li>
              <li><a href="#"><img src="images/ins-09.png" alt=""></a></li>
            </ul>
          </div> -->
        </div>
        <div class="col-md-3 col-sm-6">
          <!-- <div class="widget">
            <h2 class="mg-widget-title">Newsletter</h2>
            <p>Inbecilloque elegans errorem concedo coniuncta arare dicant etsi electram minimum.</p>
            <form>
              <p>
                <input type="email" class="form-control" placeholder="Your Email">
              </p>
              <input type="submit" class="btn btn-main" value="Subscribe">
            </form>
          </div> -->
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="widget">
            <h2 class="mg-widget-title">Social Media</h2>
            <p>
              <%= link_to '#StandWithGrandStaircase', '//twitter.com/hashtag/standwithgrandstaircase', target: :_blank %>
              <br>
              Connect with us on online.
            </p>
            <ul class="mg-footer-social">
              <li><a href="//instagram.com/entradaescalante" target="_blank"><i class="fa fa-instagram"></i></a></li>
              <li><a href="//tripadvisor.com/Hotel_Review-g56980-d11661786-Reviews-Entrada_Escalante_Lodge-Escalante_Utah.html" target="_blank"><i class="fa fa-tripadvisor"></i></a></li>
              <li><a href="//yelp.com/biz/entrada-escalante-lodge-escalante" target="_blank"><i class="fa fa-yelp"></i></a></li>
              <li><a href="//facebook.com/entradaescalante" target="_blank"><i class="fa fa-facebook"></i></a></li>
            </ul>
            <ul class="mg-footer-social" style="margin-top: 10px;">
              <li><a href="//twitter.com/entradaescalant" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li><a href="//pinterest.com/entradaescalante" target="_blank"><i class="fa fa-pinterest"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mg-copyright">
    <div class="container">
      <div class="row">

        <div class="col-md-6">
          <ul class="mg-footer-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/rooms.html">Rooms</a></li>
            <li><a href="/gallery.html">Gallery</a></li>
            <!-- <li><a href="/about.html">About</a></li> -->
            <!-- <li><a href="#">Blog</a></li> -->
            <li><a href="/contact.html">Contact</a></li>
            <li><a href="//onressystems.com/vendors/entradaescalante/reservations.html">Check Availability</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
