---
title: Entrada Escalante
active_tab: contact
---

<div class="mg-page-title parallax">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Contact Us</h2>
        <p>We'd love to hear from you.</p>
      </div>
    </div>
  </div>
</div>

<div class="mg-page">
  <div class="container">
    <div class="row">

      <div class="col-md-5">
        <h2 class="mg-sec-left-title">Send an E-mail</h2>
        <form class="clearfix" action="https://formspree.io/info@entradaescalante.com" method="POST">
          <div class="mg-contact-form-input">
            <label for="full-name">Full Name</label>
            <input type="text" class="form-control" id="full-name" name="name">
          </div>
          <div class="mg-contact-form-input">
            <label for="email">E-mail</label>
            <input type="text" class="form-control" id="email" name="_replyto">
          </div>
          <div class="mg-contact-form-input">
            <label for="subject">Subject</label>
            <input type="text" class="form-control" id="subject" name="subject">
          </div>
          <div class="mg-contact-form-input">
            <label for="subject">Message</label>
            <textarea class="form-control" id="subject" name="body" rows="5"></textarea>
          </div>
          <input type="submit" class="btn btn-dark-main pull-right" value="Send">
        </form>
      </div>
      <div class="col-md-7">
        <h2 class="mg-sec-left-title">Office Address</h2>
        <p></p>
        <ul class="mg-contact-info">
          <li><i class="fa fa-map-marker"></i> 480 W Main PO Box 427 Escalante, UT 84726</li>
          <li><i class="fa fa-phone"></i> <a href="tel:435-826-4000">435-826-4000</a></li>
          <li><i class="fa fa-envelope"></i> <a href="mailto:info@entradaescalante.com">info@entradaescalante.com</a></li>
        </ul>
        <div id="mg-map" class="mg-map"></div>
      </div>
    </div>
  </div>
</div>
